<div class="container" id="index">
    <h2 class="rosa">¿Who i am?</h2>
    <p>
        Hi, and nice to meet you! I'm Alejandro Chicala and i'm from Resistencia, Chaco, Argentina. <br>
        I learned to code since 2018 and i got my first job at 2019 working for Dardo Rocha a Languages University, you can see the proyect <a target="_blank" href="https://www.uoflang.com/">here</a> <br>
        I really enjoy coding so that's why i do it.
    </p>

    <h2>Technologies</h2>
    <ul>
        <li>Basics</li>
        <ul>
            <li>HTML 5</li>
            <li>CSS 3</li>
            <li>JavaScript</li>
        </ul>
        <li>Frontend Frameworks & Libraries</li>
        <ul>
            <li>Angular</li>
            <li>React (Learning)</li>
            <li>Bootstrap</li>
            <li>jQuery</li>
        </ul>
        <li>Backend knowledge</li>
        <ul>
            <li>PHP (Laravel)</li>
            <li>Node.js</li>
        </ul>
    </ul>
</div>