<div class="container">

    <div class="row">
        <div class="col-md-6 info-me">
            <small class="animate__animated animate__fadeIn animate__slow" >Hello, i am</small>
            <h1 class="animate__animated animate__fadeInLeft animate__delay-2s gradient">Chicala <br> Alejandro </h1>
            <div class="animate__animated animate__fadeIn animate__slower animate__delay-3s">
                <p> A self taught <span class="rosa">Frontend developer</span> </p>
            </div>
            <div class="animate__animated animate__fadeIn animate__slow animate__delay-4s">                
                <h3>Find me on</h3>
                <ul class="icons">
                    <li> <a href="" class="icon"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li> <a href="" class="icon"><i class="fa fa-facebook-official" aria-hidden="true"></i></a> </li>
                    <li> <a href="" class="icon"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                    <li> <a href="" class="icon"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> </li>
                    <li> <a href="" class="icon"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
                </ul>

                <ul class="buttons">
                    <li><a href="" class="button active">Let's meet</a> </li>
                    <li><a href="" class="button">View project</a> </li>
                </ul>
            </div>

        </div>

        <div class="col-md-6 text-right img animate__animated animate__fadeInRight">
            <img src="assets/img/1.png" alt="">
        </div>
        
        
    </div>
</div>
